*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
}

.form{

    background-color: rgb(139, 158, 158);
    width: 100%;
    border: 2px solid black;
    padding: 20px;
    max-width: 400px;
}
h2{
    text-align: center;
    color: rgb(244, 160, 16);
    margin-bottom: 30px;
}

form{
display: flex;
flex-direction: column;
}

label{
    margin-bottom: 10px;
    color: rgb(244, 160, 16);
    font-weight: bold;
}
input{
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid white;
}
button{
    background-color: rgb(5, 5, 6);
    padding: 10px;
    margin-bottom: 10px;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;

}